---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /images/singed_1.jpg
  caption:
excerpt: 'welcome!'
feature_row:
  - image_path: /images/mm-customizable-feature.png
    alt: "1"
    title: "bar 1"
    excerpt: "caption 1!"
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /images/mm-responsive-feature.png
    alt: "2"
    title: "bar 2"
    excerpt: "caption 2."
    url: "/docs/layouts/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /images/mm-free-feature.png
    alt: "3"
    title: "bar 3"
    excerpt: "caption 3."
    url: "/docs/license/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
github:
  - excerpt: '{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
intro:
  - excerpt: 'site under construction!'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}