---
title: " "
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /images/k2.jpg
feature_row:
  - image_path: /images/bar_dance.jpg
    alt: "shut up and dance with me"
    title: "on the dance floor"
    excerpt: "I was dragged to dance auditions by a friend in my freshman year of college. Since then, its become an integral part of my life and self-expression."
    url: "/dance/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /images/bar_food.jpg
    alt: "nom"
    title: "in the kitchen"
    excerpt: "When experiments in the lab fail, I turn to the kitchen. Luckily, edible experiments are often tasty even if they fail."
    url: "/nom/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /images/bar_origami.jpg
    alt: "a rose is a rose is a (paper) rose"
    title: "between folds"
    excerpt: "I've always been fascinated by origami, and the way a single cleverly designed fold or joint can yield such complex pieces."
    url: "/docs/license/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
intro:
  - excerpt: 'Hello! I am currently a graduate student at Rice University, working with Lisa Biswal in the Department of Chemical and Biomolecular Engineering. In this page, you can find some of my research and academic endeavors, as well as some unresolved vectors of thought and miscellaneous pursuits. This site is under construction! The About and Publications pages are live, as are Dance and Cooking.'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}