---
title: " "
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /images/k2.jpg
feature_row:
  - image_path: /images/bar_dance.jpg
    alt: "shut up and dance with me"
    title: "bar 1"
    excerpt: "caption 1!"
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /images/bar_food.jpg
    alt: "nom"
    title: "bar 2"
    excerpt: "caption 2."
    url: "/docs/layouts/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /images/bar_origami.jpg
    alt: "a rose is a rose is a (paper) rose"
    title: "bar 3"
    excerpt: "caption 3."
    url: "/docs/license/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
intro:
  - excerpt: 'Hello! I am currently a graduate student at Rice University, working with Lisa Biswal in the Department of Chemical and Biomolecular Engineering. In this page, you can find some of my research and academic endeavors, as well as some unresolved vectors of thought and miscellaneous pursuits. This site is under construction!'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}